header{
    background-color: rgb(77, 80, 253);
    display: flex;
    justify-content: space-between;
    padding: 0px 10vw;
    align-items: center;
}
header ul{
    display: flex;
    list-style: none;
    gap: 15px;
}
header ul li a{
    padding: 15px;
    text-decoration: none;
    color: white;
    border: 5px solid rgb(195, 92, 255);
    border-radius: 15px;
}
#logoheader{
    width: 130px;
    height: 90px;
    margin: 10px;
}